@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.container-fluid {
  width: 100%;
}
.banner {
  position: absolute;
  margin-top: 0%;
  width: 100%;
  margin-left: 0%;
}

nav {
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  border-style: none;
  outline: none;
  box-shadow: none;
}
.nav-wrapper {
  padding-right: 7%;
}
nav li a {
  color: #000;
  font-size: 18px;
}

.pic {
  position: absolute;
  margin-top: 10%;
  width: 25%;
  margin-left: 65%;
}
.logo {
  position: absolute;
  margin-top: 0%;
  width: 20%;
  margin-left: 5%;
  z-index: 20;
}

.b_txt {
  position: absolute;
  margin-top: 17%;
  width: 40%;
  margin-left: 10%;
}
.b_txt p {
  font-size: 24px;
  color: #099445;
}
.nav-wrapper {
  z-index: 10;
}

.con_1 {
  position: absolute;
  margin-top: 20%;
  width: 100%;
  margin-left: 0%;
  z-index: -1;
}
.img_1 {
  position: absolute;
  margin-top: 40%;
  width: 35%;
  margin-left: 5%;
  z-index: -1;
}
.ab_1 {
  position: absolute;
  margin-top: 35%;
  width: 5%;
  margin-left: 85%;
  z-index: -1;
}
.con1_txt {
  position: absolute;
  margin-top: 42%;
  width: 40%;
  margin-left: 50%;
  z-index: -1;
  font-size: 20px;
  color: #099445;
  font-weight: 500;
}
.btnn1 {
  position: absolute;
  margin-top: 57%;
  width: 100%;
  margin-left: 60%;
  z-index: 10;
}
.btn {
  border-radius: 10px;
  margin: 5px;
  background-color: #099445;
}
.con_2 {
  position: absolute;
  margin-top: 57%;
  width: 100%;
  margin-left: 0%;
  z-index: -2;
}
.img_2 {
  position: absolute;
  margin-top: 75%;
  width: 35%;
  margin-left: 60%;
  z-index: -2;
}
.ab_2 {
  position: absolute;
  margin-top: 70%;
  width: 5%;
  margin-left: 15%;
  z-index: -2;
}
.con2_txt {
  position: absolute;
  margin-top: 78%;
  width: 40%;
  margin-left: 10%;
  z-index: -2;
  font-size: 20px;
  color: #099445;
  font-weight: 500;
}
.btnn2 {
  position: absolute;
  margin-top: 97%;
  width: 100%;
  margin-left: 25%;
  z-index: 10;
}
.con_3 {
  position: absolute;
  margin-top: 100%;
  width: 100%;
  margin-left: 0%;
  z-index: -3;
}
.f_logo {
  position: absolute;
  margin-top: 112%;
  width: 15%;
  margin-left: 5%;
  z-index: -3;
}
.top {
  position: absolute;
  margin-top: 122%;
  width: 5%;
  margin-left: 85%;
  z-index: -3;
}

.btnn3 {
  position: absolute;
  margin-top: 70%;
  width: 100%;
  margin-left: 70%;
  z-index: 10;
}

.con_4 {
  position: absolute;
  margin-top: 75%;
  width: 100%;
  margin-left: 0%;
  z-index: -3;
}
.f_logo1 {
  position: absolute;
  margin-top: 85%;
  width: 15%;
  margin-left: 5%;
  z-index: -3;
}
.scroll {
  background-color: #099445;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  line-height: 78px;
  width: 78px;
  position: absolute;
  margin-top: 117%;
  /* width: 5%; */
  margin-left: 85%;
  z-index: -3;
}
.scroll1 {
  background-color: #099445;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  line-height: 78px;
  width: 78px;
  position: absolute;
  margin-top: 90%;
  /* width: 5%; */
  margin-left: 85%;
  z-index: -3;
}
.con_5 {
  position: absolute;
  margin-top: 25%;
  width: 100%;
  margin-left: 0%;
  z-index: -3;
}
.btnn4 {
  position: absolute;
  margin-top: 52%;
  width: 100%;
  margin-left: 47%;
  z-index: 10;
}
.scroll2 {
  background-color: #099445;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  line-height: 78px;
  width: 78px;
  position: absolute;
  margin-top: 65%;
  /* width: 5%; */
  margin-left: 85%;
  z-index: -3;
}
.f_logo2 {
  position: absolute;
  margin-top: 60%;
  width: 15%;
  margin-left: 5%;
  z-index: -3;
}
.con_6 {
  position: absolute;
  margin-top: 50%;
  width: 100%;
  margin-left: 0%;
  z-index: -4;
}
