<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>
  <!-- ******NAVBAR******** -->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"> </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/crop-planning/">Crop Planning</a></li>
        <li><a href="/disease-detection/">Disease Detection</a></li>
        <li><a href="#">Sell</a></li>
        <li><a href="#">Buy</a></li>
      </ul>
    </div>
  </nav>

  <!-- ******BANNER******** -->
  <img class="banner" src="/static/assets/Rectangle 100.png" alt="">
  <img class="pic" src="/static/assets/b_pic.png" alt="">
  <img class="logo" src="/static/assets/Group 115.png" alt="">
  <div class="b_txt">
    <p>Find out the most suitable crop to grow in your farm</p>
  </div>

  <!-- ******SECTION -1******** -->
  <img class="con_1" src="/static/assets/sec_2.png" alt="">
  <!-- <img class="img_1" src="/static/assets/rows-agricultural-crops-field.png" alt=""> -->
  <img class="ab_1" src="/static/assets/Group 101.png" alt="">
  <!-- Materialize ka kam -->
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
    </form>
  </div>
  <!-- Materialize ka kam -->
  <div class="btnn3">
    <a class="waves-effect waves-light btn">Predict</a>
  </div>



  <!-- ******Footer******** -->
  <img class="con_4" src="/static/assets/Rectangle 126.png" alt="">
  <img class="f_logo1" src="/static/assets/undraw_nature_m5ll.png" alt="">
  <button class="scroll1" id="scrollToTopBtn"><i class="fas fa-arrow-up "></i></button>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>