<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>
    <!-- ******NAVBAR******** -->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"> </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/crop-planning/">Crop Planning</a></li>
                <li><a href="/disease-detection/">Disease Detection</a></li>
                <li><a href="/sell/">Sell</a></li>
                <li><a href="/buy/">Buy</a></li>
            </ul>
        </div>
    </nav>

    <!-- ******BANNER******** -->
    <img class="banner" src="/static/assets//Rectangle 100.png" alt="">
    <img class="pic" src="/static/assets//undraw_Walking_outside_re_56xo.png" alt="">
    <img class="logo" src="/static/assets//Group 115.png" alt="">
    <div class="b_txt">
        <p>Perfect guide for farmers to help them through the entire process of farming.</p>
    </div>

    <!-- ******SECTION -1******** -->
    <img class="con_1" src="/static/assets/Rectangle 101.png" alt="" />
    <img class="img_1" src="/static/assets/rows-agricultural-crops-field.png" alt="">
    <img class="ab_1" src="/static/assets/Group 101.png" alt="">
    <div class="con1_txt">
        <p>Enhance the lives of farmers by helping them improvise agricultural practices, educating them about better
            cultivation practices. KISAN++ will help farmers in deciding so as to which crops, fertilizers are useful to
            them in order to get good yields in accordance with the weather, physical landscape of their farm area.</p>
    </div>
    <div class="btnn1">
        <a class="waves-effect waves-light btn" href="/crop-planning/">Crop Recomendation</a>
    </div>

    <!-- ******SECTION -2******** -->
    <img class="con_2" src="/static/assets/Rectangle 103.png" alt="">
    <img class="img_2" src="/static/assets/diease.png" alt="">
    <img class="ab_2" src="/static/assets/Group 102.png" alt="">
    <div class="con2_txt">
        <p>Enhance the lives of farmers by helping them i/provise agricultural practices, educating them about better
            cultivation practices. KISAN++ will help farmers in deciding so as to which crops, fertilizers are useful to
            them in order to get good yields in accordance with the weather, physical landscape of their farm area.</p>
    </div>
    <div class="btnn2">
        <a class="waves-effect waves-light btn" href="/disease-detection/">Disease Detection</a>
    </div>

    <!-- ******Footer******** -->
    <img class="con_3" src="/static/assets/Rectangle 126.png" alt="">
    <img class="f_logo" src="/static/assets/undraw_nature_m5ll.png" alt="">

    <button class="scroll" id="scrollToTopBtn"><i class="fas fa-arrow-up "></i></button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>